.contentContainer {
    max-width: 1120px;
  
    height: calc(100vh - 4rem); 
    margin: 0 auto;

    .cardContainer {
        max-width: 925px;
        margin: 0 auto;
    }
       div{
        span {
            display: flex;
             font-weight: 500;
             color: var(--gray-300);
        }

        p{
            font-size: 1rem;
        }
       }
}