.contentContainer{
    max-width: 1130px;
  
    height: calc(100vh - 4rem); 
    margin: 0 auto;

    .wrapper {
        margin-top: 1rem;

        display: flex;
        align-items: center;
    
        div {
            flex: 1;
        }
    }

    
}
