.contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button[type="submit"] {
        margin: 1rem;
        width: 50%;
        padding: 0 1.5rem;
        height: 4rem;
        background: #33CC95;
        color: #FFF;

        border-radius: 0.25rem;
        border: 0;

        font-size: 1rem;
        font-weight: 600;

        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.createNewClientSpan{
    font-size: 14px;
    color: #737380;
    font-weight: 500;
    margin: 1rem;

    button {
        background: transparent;
        border: 0;
        color: #835afd;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }
}