.contentContainer {
    max-width: 1120px;
  
    height: calc(100vh - 4rem); 
    margin: 0 auto;

    .card {
        width: 100%;
        padding: 0.15rem;
        margin: 1rem;
        background: var(--white);
        border: 1px solid var(--white);
        border-radius: 3px;
        
        .cardContentContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

       
       span {
        display: flex;
        font-weight: 500;
        color: var(--gray-300);

        & + p {
            text-align: left;
            margin-bottom: 0.5rem;
        }
     }
    }
}