.modal {
    h1 { 
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    input, select { 
        margin-top: 0.5rem;
        width: 100%;
        padding: 0 1.5rem;
        height: 4rem;
        border-radius: 0.25rem;

        border: 1px solid #D7D7D7;
        background: #E7E9EE;

        font-weight: 400;
        font-size: 1rem;

    }

    span {
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
        display: flex;
        font-weight: 500;
        color: var(--gray-300);
    }

    button[type="submit"] {
        width: 100%;
        padding: 0 1.5rem;
        height: 4rem;
        background: #33CC95;
        color: #FFF;

        border-radius: 0.25rem;
        border: 0;

        font-size: 1rem;
        margin-top: 1.5rem;

        font-weight: 600;

        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }
}