.contentContainer {
    margin: 1rem 0 0 1rem;
    display: flex;
    justify-content: space-between;

    div{
        display: flex;
        Button {
            margin-left: 1rem;
        }
    }
}